body {
    background-color: #e8dfd0;
    text-align: center;
    margin: 50px;
}

p {
    color: rgba(0,0,0, 1);
    font-family: 'Assistant', sans-serif;
    font-weight: normal;
    text-align: center;
}

li {
    color: rgba(0,0,0, 1);
    font-family: 'Assistant', sans-serif;
    font-weight: normal;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li input[type="checkbox"] {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    accent-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

.federo-regular {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.assistant-medium {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}